[Desktop Entry]
Version=1.0
Name=urxvt
Comment=An unicode capable rxvt clone
Exec=urxvt
Icon=/usr/share/icons/Numix-Circle/scalable/apps/gnome-xterm.svg
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
